@define-color background #3B4252;
@define-color selection #8FBCBB;
@define-color foreground #E5E9F0;
@define-color comment #4C566A;
@define-color blue #81A1C1;
@define-color green #A3BE8C;
@define-color yellow #EBCB8B;
@define-color purple #B48EAD;
@define-color red #BF616A;