@import url("./colors.css");
* {
    border: none;
    border-radius: 0px;
    font-family: Atkinson Hyperlegible Mono;
    font-size: 12pt;
    min-height: 0px;
}
window#waybar {
    background: rgba(40,42,54,0.6);
}
window#waybar.hidden {
    opacity: 0.2;
}
tooltip {
    background: @background;
    border: 1px solid @purple;
    border-radius: 8px;
    opacity: 0.95;
}
tooltip label {
    color: @foreground;
}
#workspaces {
    background: @pink;
    border-radius: 10px;
    margin: 6px 5px;
    padding: 0px 6px;
}
#workspaces button {
    color: @background;
    background: @pink;
    padding: 4px 4px;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}
#workspaces button.occupied {
    color: @green;
}
#workspaces button.active {
    background: @green;
}
#workspaces button:hover {
    background: @yellow;
}
#tray {
    margin-right: 5px;
    margin-left: 5px;
}

/* all center and right collections */
#idle_inhibitor, #network, #battery, #pulseaudio, #clock.utc, #memory, #disk, #clock.local {
    color: @background;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
}

/* ones on the left edge of collections */
#idle_inhibitor, #network {
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* ones on the right edge of collections */
#pulseaudio, #clock.utc {
    margin-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* centre */
#idle_inhibitor {
    background: @cyan;
}
#clock.local {
    background: @green;
}
#pulseaudio {
    background: @purple;
}
#pulseaudio.source-muted {
    background: @red;
}
#pulseaudio.muted {
    background: @red;
}

/* right hand side */
#network {
    background: @pink;
}
#battery {
    background: @cyan;
}
#battery.warning {
    background: @orange;
}
#battery.critical {
    background: @red;
}
#memory {
    background: @yellow;
}
#disk {
    background: @green;
}
#clock.utc {
    background: @purple;
}
