@import url("./colors.css");
* {
    border: none;
    border-radius: 0px;
    /* font-family: Meslo LGS NF; */
    font-family: Atkinson Hyperlegible Mono;
    font-size: 12pt;
    min-height: 0px;
}
window#waybar {
    opacity: 1;
    background: rgba(0,0,0,0);
    color: @foreground;
}
tooltip {
    background: @background;
    border: 1px solid @purple;
    border-radius: 8px;
    opacity: 0.95;
}
tooltip label {
    color: @foreground;
}
#workspaces button {
    padding: 5px 5px;
    margin: 3px;
    background: @background;
    color: @foreground;
    border-radius: 12px;
}
#workspaces button:active, #workspaces button:focus {
    color: @purple;
    background: @purple;
    border: 3px solid @purple;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @comment, @background);
}
#workspaces button.urgent {
    background: @red;
}
.modules-center {
    margin-right: 20px;
    opacity: 0;
}
#idle_inhibitor, #network, #battery, #pulseaudio, #clock.utc, #memory, #disk, #clock.local {
    padding: 4px 4px;
    margin: 3px;
    border-radius: 12px;
    /* border-right: 2px solid @selection; */
    background: @background;
}
#network {
    color: @green;
}
#network.linked {
    color: @orange;
}
#network.disconnected {
    color: @background;
    background: @red;
}
#network.disabled {
    color: @yellow;
}
#battery.warning {
    background: @orange;
    color: @background;
}
#battery.critical {
    background: @red;
    color: @background;
}
#tray {
    margin-right: 5px;
    margin-left: 5px;
}
#pulseaudio.source-muted {
    background: @red;
    color: @background;
}
#pulseaudio.muted {
    background: @red;
    color: @background;
}
