[Unit]
Description=kmonad keyboard config

[Service]
EnvironmentFile=/opt/kmonad/current_kbd
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/kmonad $CURRENT_KBD
Nice=-20

[Install]
WantedBy=default.target